@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

.conversation {
  scrollbar-color: #333 theme("colors.primary-bg");

  /* Automatically scroll to the bottom of the conversation */
  @apply flex-wrap;
  align-content: end;
  scroll-snap-type: y proximity;

  &::after {
    @apply block content-[""];
    scroll-snap-align: end;
  }
}

.response {
  p {
    @apply inline-block bg-primary-bg bg-opacity-70 mt-1 mb-2 py-1 px-3;

    &:first-of-type {
      @apply mt-1;
    }
  }

  pre {
    @apply !bg-transparent rounded-none !p-0 !block !m-0;

    code {
      @apply !bg-primary-bg !bg-opacity-70 !leading-[3rem] p-2;
    }
  }
}

/* For Webkit based browsers (Chrome, Safari) */
/* Track */
::-webkit-scrollbar {
  width: 8px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #4a5568;
}

/* For Firefox */
/* Track */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 transparent;
}
