@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

.grid-container {
  @apply grid grid-cols-1 gap-4 items-end;
  grid-template-rows: auto;
  grid-template-areas:
    "music"
    "visuals"
    "chat"
    "form";

  #chat {
    grid-area: chat;
  }

  #form {
    grid-area: form;
  }

  #visuals {
    grid-area: visuals;
  }

  #music {
    grid-area: music;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "chat visuals music"
      "form visuals music";

    #chat {
      grid-row: 1;
      position: relative;
    }

    #form {
      grid-row: 2;
    }

    #visuals {
      grid-row: 1 / span 2;
      position: relative;
    }

    #music {
      grid-row: 1 / span 2;
      position: relative;
    }
  }
}

.scrollable {
  overflow-x: hidden;
  overscroll-behavior: contain;
  scrollbar-color: #171717b3 transparent;
  scroll-snap-type: y proximity;
}

.has-scroll {
  @apply pr-2;
}

.response {
  p {
    @apply inline-block bg-primary-bg bg-opacity-70 mt-3 mb-0 py-1 px-3;

    &:first-of-type {
      @apply mt-0;
    }
  }

  pre {
    @apply !bg-transparent rounded-none !p-0 !block !m-0 !mt-2 !overflow-hidden;

    code {
      @apply !bg-primary-bg !bg-opacity-70 !leading-[1.8em] !p-2;
    }
  }
}

/* For Webkit based browsers (Chrome, Safari) */
/* Track */
::-webkit-scrollbar {
  width: 8px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #4a5568;
}

/* For Firefox */
/* Track */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 transparent;
}
