@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

.grid-container {
  @apply grid grid-cols-3 grid-rows-[1fr_auto] gap-4 items-end;

  grid-template-areas:
    "chat visuals music"
    "form visuals music";

  #chat {
    grid-area: chat;
    grid-row: 1;
  }

  #form {
    grid-area: form;
    grid-row: 2;
  }

  #visuals {
    @apply relative;

    grid-area: visuals;
    grid-row: 1 / span 2;
  }

  #music {
    @apply relative;

    grid-area: music;
    grid-row: 1 / span 2;
  }
}

.conversation {
  overflow-x: hidden;
  overscroll-behavior: contain;
  scrollbar-color: #171717b3 transparent;
  scroll-snap-type: y proximity;
}

/* TODO: Automatically scroll to the bottom of the conversation */
/* .conversation {
  overflow-x: hidden;
  overscroll-behavior: contain;
  scrollbar-color: #333 theme("colors.primary-bg");
  scroll-snap-type: y proximity;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  .conversation-list {
    @apply flex flex-wrap flex-col justify-end items-end;

    .chat-message:last-child {
      scroll-snap-align: end;
    }
  }
} */

.has-scroll {
  @apply pr-2;
}

.response {
  p {
    @apply inline-block bg-primary-bg bg-opacity-70 mt-3 mb-0 py-1 px-3;

    &:first-of-type {
      @apply mt-0;
    }
  }

  pre {
    @apply !bg-transparent rounded-none !p-0 !block !m-0 !mt-2 !overflow-hidden;

    code {
      @apply !bg-primary-bg !bg-opacity-70 !leading-[1.8em] !p-2;
    }
  }
}

/* For Webkit based browsers (Chrome, Safari) */
/* Track */
::-webkit-scrollbar {
  width: 8px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #4a5568;
}

/* For Firefox */
/* Track */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 transparent;
}
